<?xml version="1.0" encoding="utf-8"?>
<!-- EN-Revision: 3f75f75dcf86e42bc79d5753836fee49ea6a97be Maintainer: PhilDaiguille Status: ready -->
<!-- Reviewed: yes -->

<row>
  <entry>web.background</entry>
  <entry>incluye una imagen de fondo en la salida</entry>
  <entry>booleano</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.loadImages</entry>
  <entry>incluye imágenes en la salida</entry>
  <entry>booleano</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableJavascript</entry>
  <entry>activa o desactiva javascript</entry>
  <entry>booleano</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableIntelligentShrinking</entry>
  <entry>activa el intento de poner más contenido en la página, se aplica solo a la salida PDF</entry>
  <entry>booleano</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.minimumFontSize</entry>
  <entry>el tamaño de fuente mínimo permitido</entry>
  <entry>9</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.printMediaType</entry>
  <entry>muestra el contenido usando el tipo de medio de impresión en lugar del tipo de medio de pantalla</entry>
  <entry>booleano</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.defaultEncoding</entry>
  <entry>el contenido a usar cuando no se especifica ninguna codificación</entry>
  <entry>utf-8</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.userStyleSheet</entry>
  <entry>URL o ruta hacia una hoja de estilo de usuario especificada</entry>
  <entry>/ruta/hacia/estilo.css</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enablePlugins</entry>
  <entry>activa o desactiva los plugins NS</entry>
  <entry>booleano</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
