<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision$ -->
<!-- EN-Revision: 2b5b055e52b81d01a19d7c868f4cc0662633b6ed Maintainer: seros Status: ready -->
<!-- Reviewed: no -->

<phpdoc:varentry xmlns:phpdoc="http://php.net/ns/phpdoc" xml:id="reserved.variables.server" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
 <refnamediv>
  <refname>$_SERVER</refname>
  <refname>$HTTP_SERVER_VARS [eliminado]</refname>
  <refpurpose>Información del entorno del servidor y de ejecución</refpurpose>
 </refnamediv>
 
 <refsect1 role="description">
  &reftitle.description;
  <para>
   <varname>$_SERVER</varname> es un array que contiene información, tales 
   como cabeceras, rutas y ubicaciones de script. Las entradas de este
   array son creadas por el servidor web. No hay garantía que cada
   servidor web proporcione alguna de estas entradas, existen servidores que
   pueden omitir algunas o proporcionar otras no recogidas aquí. Un gran
   número de estas variables se encuentran recogidas en <link 
   xlink:href="&url.rfc;3875">especificación CGI 1.1</link>, así que al menos
   debe esperar encontrar estas entradas. 
  </para>
  <note>
   <simpara>
    Antes de PHP 5.4.0, <varname>$HTTP_SERVER_VARS</varname> contenía la misma información
    inicial, aunque no era una <link linkend="language.variables.superglobals">superglobal</link>.
    (Observe que <varname>$HTTP_SERVER_VARS</varname> y <varname>$_SERVER</varname>
    eran variables diferentes, por lo que PHP las trata de forma distinta).
   </simpara>
  </note>
 </refsect1>
 
 <refsect1 role="indices">
  &reftitle.indices;
  
  <simpara>
   Puede encontrar o no los siguientes elementos en <varname>$_SERVER</varname>.
   Tenga en cuenta que si ejecuta PHP desde 
   <link linkend="features.commandline">línea de comando</link> pocos o ninguno
   de los siguientes elementos estarán disponibles (o tendrán algún significado).
  </simpara>
  
  <para>
   <variablelist>
    <varlistentry>
     <term>'<varname>PHP_SELF</varname>'</term>
     <listitem>
      <simpara>
       El nombre del archivo de script ejecutándose actualmente, relativa al 
       directorio raíz de documentos del servidor. Por ejemplo, el valor de 
       <varname>$_SERVER['PHP_SELF']</varname> en un script ejecutado en la 
       dirección <filename>http://example.com/foo/bar.php</filename> 
       será <filename>/foo/bar.php</filename>.
       La constante <link linkend="language.constants.predefined">__FILE__</link>
       contiene la ruta completa del fichero actual, incluyendo el nombre del archivo.
      </simpara>
      <simpara>
       Si PHP se está ejecutando como un proceso de línea de comando, esta variable es
       el nombre del script desde PHP 4.3.0. En anteriores versiones no estaba
       disponible.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<link linkend="reserved.variables.argv">argv</link>'</term>
     <listitem>
      <simpara>
       Array de los argumentos enviados al script. Cuando se ejecuta el 
       script en línea de comando se obtiene acceso a los parámetros de 
       línea de comando con un estilo parecido a como sería en C. Cuando se
       ejecuta el script mediante el método GET, contendrá la cadena de la consulta.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<link linkend="reserved.variables.argc">argc</link>'</term>
     <listitem>
      <simpara>
       Contiene el número de parámetros de línea de comando enviados 
       al script (si se ejecuta en línea de comando).
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>GATEWAY_INTERFACE</varname>'</term>
     <listitem>
      <simpara>
       Número de revisión de la especificación CGI que está empleando el 
       servidor, por ejemplo '<literal>CGI/1.1</literal>'.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SERVER_ADDR</varname>'</term>
     <listitem>
      <simpara>
       La dirección IP del servidor donde se está ejecutando actualmente
       el script.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SERVER_NAME</varname>'</term>
     <listitem>
      <simpara>
       El nombre del host del servidor donde se está ejecutando actualmente
       el script. Si el script se ejecuta en un host virtual se 
       obtendrá el valor del nombre definido para dicho host virtual.
      </simpara>
      <note>
       <simpara>
        Bajo Apache 2, se debe establecer <literal>UseCanonicalName = On</literal>
        y <literal>ServerName</literal>. De lo contrario, este valor refleja el
        nombre del host proporcionado por el cliente, el cual se puede burlar.
        No es seguro depender de este valor en contextos que necesiten seguridad.
       </simpara>
      </note>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SERVER_SOFTWARE</varname>'</term>
     <listitem>
      <simpara>
       Cadena de identificación del servidor dada en las cabeceras de 
       respuesta a las peticiones.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SERVER_PROTOCOL</varname>'</term>
     <listitem>
      <simpara>
       Nombre y número de revisión del protocolo de información
       a través del cual la página es solicitada, por ejemplo 
       '<literal>HTTP/1.0</literal>'.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REQUEST_METHOD</varname>'</term>
     <listitem>
      <simpara>
       Método de petición empleado para acceder a la página, es decir '<literal>GET</literal>',
       '<literal>HEAD</literal>', '<literal>POST</literal>', '<literal>PUT</literal>'.
      </simpara>
      <note>
       <para>
        El script de PHP se considera terminado después de enviar las cabeceras
        (es decir después de producir cualquier resultado sin emplear buffers para el
        resultado) si el método de la petición empleado era <literal>HEAD</literal>.
       </para>
      </note>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REQUEST_TIME</varname>'</term>
     <listitem>
      <simpara>
       Fecha Unix de inicio de la petición. Disponible desde PHP 5.1.0.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REQUEST_TIME_FLOAT</varname>'</term>
     <listitem>
      <simpara>
       El timestamp del inicio de la solicitud, con precisión microsegundo.
       Disponible desde PHP 5.4.0.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>QUERY_STRING</varname>'</term>
     <listitem>
      <simpara>
       Si existe, la cadena de la consulta de la petición de la página.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>DOCUMENT_ROOT</varname>'</term>
     <listitem>
      <simpara>
       El directorio raíz de documentos del servidor en el cual se 
       está ejecutando el script actual, según está definida en el
       archivo de configuración del servidor.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_ACCEPT</varname>'</term>
     <listitem>
      <simpara>
       Contenido de la cabecera <literal>Accept:</literal> de la petición
       actual, si existe.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_ACCEPT_CHARSET</varname>'</term>
     <listitem>
      <simpara>
       Contenido de la cabecera <literal>Accept-Charset:</literal> de la petición
       actual, si existe. Por ejemplo: '<literal>iso-8859-1,*,utf-8</literal>'.      
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_ACCEPT_ENCODING</varname>'</term>
     <listitem>
      <simpara>
       Contenido de la cabecera <literal>Accept-Encoding:</literal> de la petición
       actual, si existe. Por ejemplo: '<literal>gzip</literal>'.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_ACCEPT_LANGUAGE</varname>'</term>
     <listitem>
      <simpara>
       Contenido de la cabecera <literal>Accept-Language:</literal> de la petición
       actual, si existe. Por ejemplo: '<literal>en</literal>'.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_CONNECTION</varname>'</term>
     <listitem>
      <simpara>
       Contenido de la cabecera <literal>Connection:</literal> de la petición
       actual, si existe. Por ejemplo: '<literal>Keep-Alive</literal>'.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_HOST</varname>'</term>
     <listitem>
      <simpara>
       Contenido de la cabecera <literal>Host:</literal> de la petición
       actual, si existe.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_REFERER</varname>'</term>
     <listitem>
      <simpara>
       Dirección de la pagina (si la hay) que emplea el agente de usuario para 
       la pagina actual. Es definido por el agente de usuario. No todos los
       agentes de usuarios lo definen y algunos permiten modificar       
       <varname>HTTP_REFERER</varname> como parte de su funcionalidad. En 
       resumen, es un valor del que no se puede confiar realmente.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_USER_AGENT</varname>'</term>
     <listitem>
      <simpara>
       Contenido de la cabecera <literal>User-Agent:</literal> de la petición
       actual, si existe. Consiste en una cadena que indica el agente
       de usuario empleado para acceder a la pagina. Un ejemplo típico
       es: <computeroutput>Mozilla/4.5 [en] (X11; U;
       Linux 2.2.9 i586)</computeroutput>. Entre otras opciones, puede emplear
       dicho valor con <function>get_browser</function> para personalizar
       el resultado de la salida de la página en función de las capacidades 
       del agente de usuario empleado.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTPS</varname>'</term>
     <listitem>
      <simpara>
       Ofrece un valor no vacío si el script es pedido mediante el protocolo
       HTTPS.
      </simpara>
      <note>
       <simpara>
        Tenga en cuenta que si se emplea ISAPI con IIS el valor será 
        <literal>off</literal> si la petición no se ha realizado a través
        del protocolo HTTPS.
       </simpara>
      </note>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REMOTE_ADDR</varname>'</term>
     <listitem>
      <simpara>
       La dirección IP desde la cual está viendo la página actual el usuario.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REMOTE_HOST</varname>'</term>
     <listitem>
      <simpara>
       El nombre del host desde el cual está viendo la página actual el usuario. La 
       obtención inversa del dns está basada en la <varname>REMOTE_ADDR</varname> 
       del usuario.
      </simpara>
      <note>
       <simpara>
        Su servidor web debe estar configurado para crear esta variable. Por 
        ejemplo en Apache necesita que exista <literal>HostnameLookups On</literal>
        dentro de &httpd.conf;. Consulte tambien <function>gethostbyaddr</function>.
       </simpara>
      </note>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REMOTE_PORT</varname>'</term>
     <listitem>
      <simpara>
       El puerto empleado por la máquina del usuario para comunicarse 
       con el servidor web.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REMOTE_USER</varname>'</term>
     <listitem>
      <simpara>
       El usuario autenticado.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REDIRECT_REMOTE_USER</varname>'</term>
     <listitem>
      <simpara>
       El usuario autenticado si la petición es redirigida internamente.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SCRIPT_FILENAME</varname>'</term>
     <listitem>
      <para>
       La ruta del script ejecutándose actualmente en forma absoluta.
       <note>
        <para>
         Si un script se ejecuta mediante CLI como ruta relativa, como 
         por ejemplo <filename>file.php</filename> o
         <filename>../file.php</filename>, entonces
         <varname>$_SERVER['SCRIPT_FILENAME']</varname> contendrá
         la ruta relativa especificada por el usuario.
        </para>
       </note>
      </para>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SERVER_ADMIN</varname>'</term>
     <listitem>
      <simpara>
       El valor dado a la directiva SERVER_ADMIN (de Apache) en el
       archivo de configuración del servidor web. Si el script se
       está ejecutando en un host virtual, el valor dado será el
       definido para dicho host virtual.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SERVER_PORT</varname>'</term>
     <listitem>
      <simpara>
       El puerto de la máquina del servidor usado por el servidor web
       para la comunicación. Para las configuraciones por omisión, 
       el valor será '<literal>80</literal>'; el empleo de SSL, por ejemplo,
       cambiará dicho valor al valor definido para el puerto HTTP seguro.
      </simpara>
      <note>
       <simpara>
        Bajo Apache 2, se debe establecer <literal>UseCanonicalName = On</literal>, 
        así como <literal>UseCanonicalPhysicalPort = On</literal> para poder
        obtener el puerto físico (real), de otro modo, este valor podría ser burlado y
        podría o no devolver el valor del puerto físico.
        No es seguro confiar en este valor en contextos que requieran seguridad.
       </simpara>
      </note>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SERVER_SIGNATURE</varname>'</term>
     <listitem>
      <simpara>
       Cadena que contiene la versión del servidor y el nombre del host virtual
       que son añadidas a las páginas generadas por el servidor, si esta habilitada esta funcionalidad.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>PATH_TRANSLATED</varname>'</term>
     <listitem>
      <simpara>
       Ruta de acceso basada en el sistema (no en el directorio raíz
       de documentos del servidor) del script actual, después de
       cualquier mapeo de virtual a real realizada por el servidor.
      </simpara>
      <note>
       <simpara>
        A partir de PHP 4.3.2, <envar>PATH_TRANSLATED</envar> no está
        definida de forma implícita en el <acronym>SAPI</acronym> de 
        Apache 2, en comparación a la situación de Apache 1, donde era 
        necesario establecer el mismo valor que la variable del servidor
        <envar>SCRIPT_FILENAME</envar> cuando no era proporcionada
        por Apache. Este cambio ha sido realizado para cumplir la 
        especificación <acronym>CGI</acronym> donde 
        <envar>PATH_TRANSLATED</envar> sólo debe existir si 
        <envar>PATH_INFO</envar> esta definida.
       </simpara>
       <simpara>
        Los usuarios de Apache 2 pueden emplear <literal>AcceptPathInfo = On</literal>
        dentro de <filename>httpd.conf</filename> para definir <envar>PATH_INFO</envar>.
       </simpara>
      </note>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SCRIPT_NAME</varname>'</term>
     <listitem>
      <simpara>
       Contiene la ruta del script actual. Esto es de utilidad para 
       las páginas que necesiten apuntarse a si mismas. La constante 
       <link linkend="language.constants.predefined">__FILE__</link>
       contiene la ruta absoluta y el nombre del archivo actual incluido.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REQUEST_URI</varname>'</term>
     <listitem>
      <simpara>
       La URI que se empleó para acceder a la página. Por ejemplo:
       '<literal>/index.html</literal>'.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>PHP_AUTH_DIGEST</varname>'</term>
     <listitem>
      <simpara>
       Cuando se hace autenticación Digest HTTP, esta variable se establece
       para el encabezado 'Authorization' enviado por el cliente (el cual se
       debe entonces usar para hacer la validación apropiada).
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>PHP_AUTH_USER</varname>'</term>
     <listitem>
      <simpara>
       Cuando se hace autenticación HTTP, esta variable se establece para el
       nombre de usuario provisto por el usuario.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>PHP_AUTH_PW</varname>'</term>
     <listitem>
      <simpara>
       Cuando se hace autenticación HTTP, esta variable se establece para la
       clave provista por el usuario.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>AUTH_TYPE</varname>'</term>
     <listitem>
      <simpara>
       Cuando se realiza la autenticación HTTP, está variable se establece para el
       tipo de autenticación.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>PATH_INFO</varname>'</term>
     <listitem>
      <simpara>
       Contiene cualquier información sobre la ruta proporcionada por el cliente 
       a continuación del nombre del fichero del script actual pero antecediendo 
       a la cadena de la petición, si existe. Por ejemplo, si el script actual
       se accede a través de la URL 
       <filename>http://www.example.com/php/path_info.php/some/stuff?foo=bar</filename>,
       entonces <varname>$_SERVER['PATH_INFO']</varname> contendrá
       <literal>/some/stuff</literal>.
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>ORIG_PATH_INFO</varname>'</term>
     <listitem>
      <simpara>
       Versión original de '<varname>PATH_INFO</varname>' antes de ser procesado por PHP.
      </simpara>
     </listitem>
    </varlistentry>
    
   </variablelist>
  </para>
 </refsect1>
 
 <refsect1 role="changelog">
  &reftitle.changelog;
  <para>
   <informaltable>
    <tgroup cols="2">
     <thead>
      <row>
       <entry>&Version;</entry>
       <entry>&Description;</entry>
      </row>
     </thead>
     <tbody>
      <row>
       <entry>5.4.0</entry>
       <entry>
        <varname>$HTTP_SERVER_VARS</varname> ya no está disponible debido a
        la eliminación de arrays grandes de registro.
       </entry>
      </row>
      <row>
       <entry>5.3.0</entry>
       <entry>
        La directiva <link linkend="ini.register-long-arrays">register_long_arrays</link>,
        la cual hacía que estuviera disponible <varname>$HTTP_SERVER_VARS</varname>
        está obsoleta.
       </entry>
      </row>
      <row>
       <entry>4.1.0</entry>
       <entry>
        Se introdujo <varname>$_SERVER</varname>, que hace obsoelto
        <varname>$HTTP_SERVER_VARS</varname>.
       </entry>
      </row>
     </tbody>
    </tgroup>
   </informaltable>
  </para>
 </refsect1>
 
 <refsect1 role="examples">
  &reftitle.examples;
  <para>
   <example xml:id="variable.server.basic">
    <title><varname>Ejemplo de $_SERVER</varname></title>
    <programlisting role="php">
<![CDATA[
<?php
echo $_SERVER['SERVER_NAME'];
?>
]]>
    </programlisting>
    &example.outputs.similar;
    <screen>
<![CDATA[
www.example.com
]]>
    </screen>
   </example>
  </para>
 </refsect1>
 
 <refsect1 role="notes">
  &reftitle.notes;
  &note.is-superglobal;
 </refsect1>
 
 <refsect1 role="seealso">
  &reftitle.seealso;
  <para>
   <simplelist>
    <member><link linkend="book.filter">Filtrado de datos</link></member>
   </simplelist>
  </para>
 </refsect1>
 
</phpdoc:varentry>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->

