<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision$ -->
<!-- EN-Revision: 6b413423c754810252b812d2a28fc627be4579dd Maintainer: PhilDaiguille Status: ready -->
<!-- Reviewed: yes -->

<refentry role="variable" xml:id="reserved.variables.server" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
 <refnamediv>
  <refname>$_SERVER</refname>
  <refpurpose>Variables de servidor y de ejecución</refpurpose>
 </refnamediv>

 <refsect1 role="description">
  &reftitle.description;
  <para>
   <varname>$_SERVER</varname> es un &array; que contiene información
   como encabezados, rutas y ubicaciones de script.
   Las entradas de este array son creadas por el servidor web, por lo que no hay
   garantía de que cada servidor web proporcione toda esta información;
   los servidores pueden omitir algunas o proporcionar otras no listadas aquí.
   Sin embargo, la mayoría de estas variables están contempladas en la especificación
   <link xlink:href="&url.rfc;3875">CGI/1.1</link> y es probable que estén definidas.
  </para>
  <note>
    <simpara>
     Cuando PHP se ejecuta en línea de comandos <link linkend="features.commandline">command line</link>,
     la mayoría de estas entradas no estarán disponibles o no tendrán sentido.
    </simpara>
  </note>
  <para>
   Además de los elementos enumerados a continuación, PHP creará elementos adicionales
   con valores provenientes de los encabezados de la petición. Estas entradas se nombrarán
   <literal>HTTP_</literal> seguido del nombre del encabezado,
   en mayúsculas y con guiones bajos en lugar de guiones.
   Por ejemplo, el encabezado <literal>Accept-Language</literal> estará
   disponible como <code>$_SERVER['HTTP_ACCEPT_LANGUAGE']</code>.
  </para>
 </refsect1>

 <refsect1 role="indices">
  &reftitle.indices;

  <para>
   <variablelist>
    <varlistentry>
     <term>'<varname>PHP_SELF</varname>'</term>
     <listitem>
      <simpara>
       El nombre del archivo del script en ejecución, relativo
       a la raíz web.
       Por ejemplo, <varname>$_SERVER['PHP_SELF']</varname> en el script
       ubicado en <filename>http://example.com/foo/bar.php</filename>
       será <filename>/foo/bar.php</filename>.
       La constante <link linkend="language.constants.magic">__FILE__</link>
       contiene la ruta completa y el nombre del archivo (incluido) actual.
      </simpara>
      <simpara>
       Si PHP funciona en línea de comandos,
       esta variable contiene el nombre del script.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<link linkend="reserved.variables.argv">argv</link>'</term>
     <listitem>
      <simpara>
       Array de argumentos pasados al script. Cuando el script
       es llamado en línea de comandos, esto da acceso
       a los argumentos, como en lenguaje C. Cuando el script es
       llamado con el método GET, este array contendrá la cadena de consulta.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<link linkend="reserved.variables.argc">argc</link>'</term>
     <listitem>
      <simpara>
       Contiene el número de parámetros de línea de comandos
       pasados al script (si el script funciona en línea de comandos).
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>GATEWAY_INTERFACE</varname>'</term>
     <listitem>
      <simpara>
       Número de revisión de la interfaz CGI del servidor.
       Por ejemplo <literal>'CGI/1.1'</literal>.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_ADDR</varname>'</term>
     <listitem>
      <simpara>
       La dirección IP del servidor bajo el cual el script actual está siendo ejecutado.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_NAME</varname>'</term>
     <listitem>
      <simpara>
       El nombre del servidor host que ejecuta el script siguiente.
       Si el script es ejecutado en un host virtual, esto será
       el valor definido para ese host virtual.
      </simpara>
      <note>
       <simpara>
        En Apache 2, <literal>UseCanonicalName = On</literal> y
        <literal>ServerName</literal> deben ser definidos.
        De lo contrario, este valor refleja el nombre de host proporcionado por el cliente, que puede ser falsificado.
        No es seguro confiar en este valor en contextos dependientes de la seguridad.
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_SOFTWARE</varname>'</term>
     <listitem>
      <simpara>
       Cadena de identificación del servidor, que es dada en
       los encabezados al responder a las peticiones.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_PROTOCOL</varname>'</term>
     <listitem>
      <simpara>
       Nombre y revisión del protocolo de comunicación; por ejemplo <literal>HTTP/1.0</literal>;
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_METHOD</varname>'</term>
     <listitem>
      <simpara>
       Método de petición utilizado para acceder a la página;
       por ejemplo <literal>GET</literal>, <literal>HEAD</literal>,
       <literal>POST</literal>, <literal>PUT</literal>.
      </simpara>
      <note>
       <para>
        El script PHP termina después de enviar los encabezados (es decir, después
        de producir cualquier salida sin bufferización de salida) si
        el método de la petición era <literal>HEAD</literal>.
       </para>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_TIME</varname>'</term>
     <listitem>
      <simpara>
       El timestamp Unix del inicio de la petición.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_TIME_FLOAT</varname>'</term>
     <listitem>
      <simpara>
       El timestamp del inicio de la petición, con precisión a microsegundos.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>QUERY_STRING</varname>'</term>
     <listitem>
      <simpara>
       La cadena de consulta, si existe, que es
       utilizada para acceder a la página.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>DOCUMENT_ROOT</varname>'</term>
     <listitem>
      <simpara>
       La raíz bajo la cual el script actual está siendo ejecutado,
       como se define en la configuración del servidor.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>HTTPS</varname>'</term>
     <listitem>
      <simpara>
       Definido a un valor no vacío si el script fue llamado vía el protocolo HTTPS.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_ADDR</varname>'</term>
     <listitem>
      <simpara>
       La dirección IP del cliente que solicita la página actual.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_HOST</varname>'</term>
     <listitem>
      <simpara>
       El nombre del host que lee el script actual. La resolución
       DNS inversa se basa en el valor de <varname>REMOTE_ADDR</varname>.
      </simpara>
      <note>
       <simpara>
        El servidor web debe estar configurado para crear esta variable.
        Por ejemplo, en Apache, <literal>HostnameLookups On</literal> debe ser definido
        dentro de &httpd.conf; para que exista. Ver también
        <function>gethostbyaddr</function>.
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_PORT</varname>'</term>
     <listitem>
      <simpara>
       El puerto utilizado por la máquina cliente para comunicarse
       con el servidor web.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_USER</varname>'</term>
     <listitem>
      <simpara>
       El usuario autenticado.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REDIRECT_REMOTE_USER</varname>'</term>
     <listitem>
      <simpara>
       El usuario autenticado si la petición fue redirigida internamente.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SCRIPT_FILENAME</varname>'</term>
     <listitem>
      <para>
       La ruta absoluta hacia el archivo que contiene el script en ejecución.
       <note>
        <para>
         Si un script es ejecutado con el CLI, con una ruta relativa,
         como <filename>file.php</filename> o
         <filename>../file.php</filename>,
         <varname>$_SERVER['SCRIPT_FILENAME']</varname>
         contendrá la ruta relativa especificada por el usuario.
         </para>
       </note>
      </para>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_ADMIN</varname>'</term>
     <listitem>
      <simpara>
       El valor dado a la directiva SERVER_ADMIN
       (para Apache), en el archivo de configuración. Si el script
       es ejecutado por un host virtual, esto será la
       valor definido por el host virtual.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_PORT</varname>'</term>
     <listitem>
      <simpara>
       El puerto de la máquina servidor utilizado para las
       comunicaciones. Por defecto, es <literal>'80'</literal>. Usando
       SSL, por ejemplo, será reemplazado por el número
       de puerto HTTP seguro.
      </simpara>
      <note>
       <simpara>
        En Apache 2, <literal>UseCanonicalName = On</literal>, así como
        <literal>UseCanonicalPhysicalPort = On</literal> deben ser definidos
        para obtener el puerto físico real, de lo contrario este valor puede ser
        falsificado y puede o no devolver el valor del puerto físico.
        No es seguro confiar en este valor en contextos dependientes de la seguridad.
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_SIGNATURE</varname>'</term>
     <listitem>
      <simpara>
       Cadena que contiene el número de versión del servidor
       y el nombre de host virtual, que son añadidos a
       las páginas generadas por el servidor, si esta
       opción está activada.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PATH_TRANSLATED</varname>'</term>
     <listitem>
      <simpara>
       Ruta en el sistema de archivos (no el document-root)
       hasta el script actual, una vez que el servidor ha hecho
       una traducción de ruta virtual a real.
      </simpara>
      <note>
       <simpara>
        Los usuarios de Apache 2 deben usar <literal>AcceptPathInfo = On</literal>
        en su <filename>httpd.conf</filename> para definir <envar>PATH_INFO</envar>.
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SCRIPT_NAME</varname>'</term>
     <listitem>
      <simpara>
       Contiene el nombre del script actual. Esto sirve cuando
       las páginas deben llamarse a sí mismas.
       La constante <link linkend="language.constants.magic">__FILE__</link>
       contiene la ruta completa y el nombre del archivo (incluido) actual.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_URI</varname>'</term>
     <listitem>
      <simpara>
       El URI que fue proporcionado para acceder
       a esta página. Por ejemplo: '<literal>/index.html</literal>'.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PHP_AUTH_DIGEST</varname>'</term>
     <listitem>
      <simpara>
       Cuando se utiliza la autenticación HTTP Digest,
       esta variable es definida en el encabezado <literal>"Authorization"</literal>
       enviado por el cliente (que debe ser utilizado para
       realizar la validación apropiada).
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PHP_AUTH_USER</varname>'</term>
     <listitem>
      <simpara>
       Cuando se utiliza la autenticación HTTP,
       esta variable es definida al usuario proporcionado por el usuario.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PHP_AUTH_PW</varname>'</term>
     <listitem>
      <simpara>
       Cuando se utiliza la autenticación HTTP,
       esta variable es definida a la contraseña proporcionada por el usuario.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>AUTH_TYPE</varname>'</term>
     <listitem>
      <simpara>
       Cuando se utiliza la autenticación HTTP,
       esta variable es definida al tipo de identificación.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PATH_INFO</varname>'</term>
     <listitem>
      <simpara>
       Contiene la información sobre el nombre de la ruta proporcionada por el cliente
       respecto al nombre del archivo que ejecuta el script actual, sin
       la cadena relativa a la consulta si existe. Actualmente,
       si el script actual es ejecutado vía el URI
       <filename>http://www.example.com/php/path_info.php/some/stuff?foo=bar</filename>,
       entonces la variable <varname>$_SERVER['PATH_INFO']</varname> contendrá
       <literal>/some/stuff</literal>.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>ORIG_PATH_INFO</varname>'</term>
     <listitem>
      <simpara>
       Versión original de '<varname>PATH_INFO</varname>' antes de ser analizada
       por PHP.
      </simpara>
     </listitem>
    </varlistentry>

   </variablelist>
  </para>

 </refsect1>

 <refsect1 role="examples">
  &reftitle.examples;
  <para>
   <example xml:id="variable.server.basic">
    <title>Ejemplo con <varname>$_SERVER</varname></title>
    <programlisting role="php">
<![CDATA[
<?php
echo $_SERVER['SERVER_NAME'];
?>
]]>
    </programlisting>
    &example.outputs.similar;
    <screen>
<![CDATA[
www.example.com
]]>
    </screen>
   </example>
  </para>
 </refsect1>

 <refsect1 role="notes">
  &reftitle.notes;
  &note.is-superglobal;
 </refsect1>

 <refsect1 role="seealso">
  &reftitle.seealso;
  <para>
   <simplelist>
    <member><link linkend="book.filter">La extensión sobre filtros</link></member>
   </simplelist>
  </para>
 </refsect1>

</refentry>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
